<!--
/**
 * Angular UI Router Multiple Views Example
 *
 * @author Ninh Pham
 * Website: https://ReeganExE.github.io/angular-multiple-views
 * Contact: dongian.rapclubkhtn@gmail.com
 *
 * https://www.facebook.com/ReeganExE
 * https://www.twitter.com/ReeganExE
 * https://www.google.com/+ReeganExE
 * https://github.com/ReeganExE
 * https://youtube.com/ReeganExE
 */
 -->


<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">Ninh ReeganExE</div>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JgY_acrrhA0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div>
</div>
